<div class="d-flex w-100 flex-wrap">
  <div class="d-flex flex-column form-control w-50">
    <span>Nom : {{dev?.firstname}}</span>
    <span>Prenom : {{dev?.lastname}}</span>
    <span>Age : {{dev?.age}}</span>
    <span>Genre : {{dev?.gender}}</span>
    <span>Bio : {{dev?.bio}}</span>
    <form #formSkill="ngForm" (ngSubmit)="submitSkill(formSkill)" >
      <label for="name">Nom du skill</label>
      <input id="name" type="text"  name="name" ngModel #name="ngModel">
      <label for="site">Site</label>
      <input id="site" type="text"  name="site" ngModel #site="ngModel">
      <label for="logo">Logo</label>
      <input id="logo" type="text"  name="logo" ngModel #logo="ngModel">
      <button type="submit">Ajouter</button>
    </form>
  </div>
  <div *ngFor="let skil of dev?.skills" class="d-flex w-50">

    <app-skill [skill]="skil"></app-skill>
  </div>

</div>

