<div class="m-auto w-50">
<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <label for="email">Email</label>
  <input
              id="email"
              type="text"
              class="form-control"
              formControlName="email"
              placeholder="Nom(obligatoire)"
              required
            />

             <div class="text-danger" *ngIf=" submitted && f['email'].errors">Email est invalide</div>
  <label for="firstname">First name</label>
  <input
              id="firstname"
              type="text"
              class="form-control"
              formControlName="firstname"
              placeholder="Nom(obligatoire)"
              required

            />

            <div class="text-danger" *ngIf=" submitted && f['firstname'].errors!['required']">Le prenom est requis</div>
            <div class="text-danger" *ngIf=" submitted && f['firstname'].errors!['minlength']">Le prenom doit faire min 3 caracteres</div>
            <div class="text-danger" *ngIf=" submitted && f['firstname'].errors!['maxlength']">Le prenom doit faire max 15 caracteres</div>
            <label for="lastname">last name</label>
  <input
              id="lastname"
              type="text"
              class="form-control"
              formControlName="lastname"
              placeholder="Nom(obligatoire)"

            />
            <div class="text-danger" *ngIf=" submitted && f['lastname'].errors!['required']">Le nom est requis</div>
            <div class="text-danger" *ngIf=" submitted && f['lastname'].errors!['minlength']">Le nom doit faire min 3 caracteres</div>
            <div class="text-danger" *ngIf=" submitted && f['lastname'].errors!['maxlength']">Le nom doit faire max 15 caracteres</div>

            <label for="password">Password</label>
  <input
              id="password"
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="Nom(obligatoire)"

            />
            <div class="text-danger" *ngIf=" submitted && f['password'].errors!['required']">Le mot de passe est requis</div>
            <div class="text-danger" *ngIf=" submitted && f['password'].errors!['minlength']">Le mot de passe doit faire min 3 caracteres</div>
            <div class="text-danger" *ngIf=" submitted && f['password'].errors!['maxlength']">Le mot de passe doit faire max 15 caracteres</div>

            <button type="submit">Sauvegarder</button>

</form>
</div>
